# Entorno de python
icc115-venv/
rag_env/
rasa_env/
langchain_env/
gradio-env/
.venv
app_env/
test_venv/
.data_env/
rasa_rag_env/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Modelos entrenados de Rasa
/models/

# Caché de Rasa y logs
/.rasa/cache/
.rasa/
logs/
*.log

# Archivos temporales
# *.db
# *.sqlite
# *.sqlite3

# Configuración de editor/IDE
# .vscode/

# Configuración del sistema operativo
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints
